.body{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
	max-width: 1366px;
	min-width: 600px;
}
.root{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom:62px;
}
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 60px;
}
.FIO-container{
	display: flex !important;
	justify-content: space-between;
	flex-direction: row !important;
}
.FIO-std, .FIO-write{
	width: 100%;
	display: flex !important;
	flex-direction: row !important;
	justify-content:space-between;
}
.FIO-write{
	display: none !important;
	pointer-events: none;
}
.legend-write{
	display: none !important;
	pointer-events: none;
}
.FIO-rewrite-input{
	width: 510px;
	height: 40px;
	color:#654145;
	box-sizing: border-box;
	font-family: 'Playfair Display';
	font-size: 30px;
	border:0px solid white;
    border-bottom:1px solid #654145;
    border-right:1px solid #654145;
}
.legend-rewrite-input{
	height: 300px;
	color:#654145;
	box-sizing: border-box;
	margin-top: 18px;
	align-content: stretch;
	font-family: Raleway;
	font-size: 18px;
	border:0px solid white;
    border-bottom:1px solid #654145;
    border-right:1px solid #654145;
}
.legend-std p{
	white-space: wrap;
}
.imtext{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:40px;
}
.imtext img{
    margin-right: 76px;
    width:609px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.imtext div{
    display: flex;
    flex-direction: column;
}
.imtext div p{
    width: 550px;
    font-family: Raleway;
    font-size: 18px;
    text-align: justify;
    color: #654145;
}
.img-full-controller{
	margin-top: 7px;
	margin-left: 5px;
	display: flex !important;
	flex-direction: row !important;
}
.add-full-image{
	margin-right: 7px;
}
#formAvatar{
	position: absolute;
}
#upload-photo {
	cursor: pointer;
   	position: absolute;
   	z-index: 1;
   	width: 18px;
  	height: 18px;
   	opacity: 0;
}
.share-full-image{
	margin-right: 7px;
}
.gallery-container{
	width: 100%;
	margin:0px 58px;
}
.sorting{
	display: flex;
	margin:58px;
}
.sort{
	font-family: Raleway;
	font-size: 28px;
	display: flex;
	align-items: center;
	margin-right: 30px;

}
.sort svg{
	margin-left: 5px;
}
.art-container{
	width: 378px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 26px;
}
.art-container a{
	text-decoration: none;
	font-family: Raleway;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 3px;
	color: #654145;
}
#first{
	position: absolute;
	left: 0;
	top: 0;
}
#second{
	position: absolute;
	right: 0;
	top: 0;
}
#third{
	position: absolute;
	right: 0;
	bottom: 0;
}
#fourth{
	position: absolute;
	left: 0;
	bottom: 0;
}
.space{
	position: absolute;
	width: 100%;
	height: calc(100% - 21px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.space a{
	position: absolute;
	width: 100%;
	height: 100%;
	padding:0px;
	margin: 0px;
}
.inner-space{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	background: #211516;
	opacity: 0;
}
.inner-space svg{
	margin:10px;
}
.outer-space{
	background: #21151600;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Raleway;
	font-size: 11px;
	font-weight: 500;
	color: white;
	font-feature-settings: 'pnum' on, 'lnum' on;
	opacity: 0;
}
.icons{
	display: flex;
	align-items: center;
}
.likes{
	margin-right: 7px;
}
.comments{
	margin-right: 9px;
}
.stat{
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
	width: 79px;
}
#likes{
	width: 21px;
	text-align: center;
}
#comments{
	width: 21px;
	text-align: center;
}
#share{
	width: 21px;
	text-align: center;
}


[data-type="picture"]{
	width: 378px;

}
[data-type="sculpture"]{
	width: 814px;
}

.post-controller{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.post-controller svg{
	margin-left: 5px;
	margin-top: 5px;
}

.more{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Raleway;
	font-size: 18px;
	font-weight: bold;
	margin:0px auto;
}
.more svg{
	margin-top: 5px;
}