.body{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
	max-width: 1366px;
	min-width: 600px;
}
.root{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom:62px;
}
.disclaimer{
	width: 100%;
	margin:0px 58px;
	height: 594px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #6541454D;

}
.disclaimer p{
	width: 852px;
	margin-top: 213px;
	margin-bottom: 211px;
	font-family: Raleway;
	font-size: 24px;
	text-align: justify;
}
.films{
	width: 100%;
	height: 1000px;
	margin:50px 58px 0px;
	display: flex;
	justify-content: space-between;
}
.months{
	font-family: 'Playfair Display';
	font-size: 31px;
	font-weight: bold;
	width: 149px;
}
.month{
	position: sticky;
	z-index: 1;
	top:120px;
	width: 100%;
}
.film-container{
	width: 654px;
}
.film{
	width:100%;
	height:490px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 58px;
}
.info{
	width: 100%;
	height: 156px;
	background: #654145E6;
	color: white;
	display:flex;
}
.name{
	width: 267px;
	font-family: Raleway;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	margin: 10px 0px 10px 30px;
	padding: 14px 30px 14px 0px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	border-right: 1px solid #ffffff4D;
	flex-shrink: 0;
}
.name a{
	color:white;
	text-decoration: none;
}
.name a:hover{
	text-decoration: underline;
}
.price-date-status{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin:30px 44px 0px 44px;
	font-family: Raleway;
	font-size: 18px;
	font-weight: bold;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.price{
	width: 100%;
	padding:22px 0px;
	margin-bottom: 22px;
	border: 1px solid #ffffff;
	display: flex;
	justify-content: center;
}
.date-status{
	display: flex;
	justify-content: space-between;
}
.genre{
	width: 330px;
	font-family: Raleway;
	font-size: 24px;
	font-weight: bold;
}
.genre ul{
	position: sticky;
	top:120px;
	display:flex;
    flex-direction: column;
    margin:0px;
    z-index:1;
}
.genre li{
	list-style: none;
	margin-bottom: 6px;
}
