.body{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
	max-width: 1366px;
	min-width: 600px;
}
.root{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom:62px;
}
.id-information{
	width: 100%;
	margin:0px 58px;
	margin-top: 40px;
	display: flex;
}
.img{
	width: 625px;
	height: 469px;
	margin-right: 105px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
}
.content{
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.name{
	width: 100%;
	font-family: Raleway;
	font-size: 34px;
	font-weight: bold;
	font-style: normal;
	margin: 24px 0px 0px 0px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.price-date-status{
	width: 100%;
	display: flex;
	font-family: Raleway;
	font-size: 18px;
	font-weight: bold;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.price{
	width: 240px;
	height: 65px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #654145;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.date-status{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid #654145;
	padding-left: 20px; 
}
.genre{
	font-family: Raleway;
	font-size: 24px;
	font-weight: bold;
}
.genre ul{
	position: sticky;
	top:120px;
	display:flex;
    flex-direction: column;
    margin:0px;
    z-index:1;
}
.genre li{
	list-style: none;
	margin-bottom: 6px;
}
.ds{
	display: flex;
	justify-content: space-between;
}

.film{
	width: 100%;
	margin:0px 58px;
	margin-top: 125px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/*видео*/
.youtube {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    margin:0px 58px;
}
iframe{
	margin:0px 58px;
}
.youtube .play {
    background: url('/application/views/template/images/films/youtube-play-btn.png') no-repeat ; /*ВАЖНО: здесь укажите адрес до изображения*/
    background-position: 0 -50px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}

.data{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 58px;
	margin-left: 58px;
	margin-right: 58px;
}
.text{
	width: 666px;
	display: flex;
	flex-direction: column;
	font-family: "Raleway";
	font-size: 24px;
}
.description{
	margin-bottom: 58px;
}
.country{
	font-weight: bold;
	margin-bottom: 20px;
}
.producer{
	font-weight: 500;
}
.comments-module{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 125px;
	font-family: "Raleway";
}
.comments-module span{
	display: block;
	font-size: 24px;
	font-weight: bold;
}
.input-comment{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	padding-bottom:50px;
	padding-right: 50px;
	padding-left: 50px;
	border-bottom: 1px solid #6541454D;
}
.input-comment form{
	display: flex;
	align-items: flex-end;
}
.input-comment textarea{
	width: 597px;
	height:150px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	box-sizing: border-box;
	font-family: "Raleway";
	font-size: 18px;
	border:1px solid #654145;
	color:#654145;
	resize: none;
	overflow: auto;
}
.input-comment form button{
	width: 24px;
	height:24px;
	border: none;
	outline: none;
	margin:0px;
	padding: 0px;
}
.input-comment img{
	align-self: flex-start;
}
.output-comments{
	margin-top: 50px;
	display: flex;
	justify-content: flex-start;
}
.comment-ifn-container{
	width: 597px;
	display: flex;
	flex-direction: column;
	padding-right: 34px;
	margin-left: 10px;
	font-family: "Raleway";
	font-size: 18px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.comment{
	width: 100%;
	text-align: justify;
}
.comment-information{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.comment-information div a{
	color:#654145;
	text-decoration: none;
}
.outer-space{
	font-family: Raleway;
	color:black;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 11px;
	font-weight: 500;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.icons{
	display: flex;
	align-items: center;
}
.likes{
	margin-right: 7px;
}
.comments{
	margin-right: 9px;
}
.stat{
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
	width: 79px;
}
#likes{
	width: 21px;
	text-align: center;
}
#comments{
	width: 21px;
	text-align: center;
}
#share{
	width: 21px;
	text-align: center;
}


[data-type="picture"]{
	width: 378px;

}
[data-type="sculpture"]{
	width: 814px;
}
